---
interface Props {
  href?: string;
  label: string;
  variant?: 'primary' | 'secondary';
  type?: 'button' | 'submit' | 'reset';
}

const { href, label, variant = 'primary', type = 'button' } = Astro.props;
const className = `button button--${variant}`;
---

{
  href ? (
    <a class={className} href={href}>
      {label}
    </a>
  ) : (
    <button class={className} type={type}>
      {label}
    </button>
  )
}
